    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        color: #3F4140;
    }
    
    main {
        padding-bottom: 30px;
        min-height: 68vh;
    }
    
    a {
        text-decoration: none;
        color: #3F4140;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
    }
    
    button {
        border: none;
        background: none;
        appearance: none;
        outline: none;
    }
    input:focus,
    select:focus,
    textarea:focus{
        outline-color: rgba(63, 65, 64, 0.35);
    }
    input:-internal-autofill-selected {
        background-color: rgba(63, 65, 64, 1);
    }
    .border-bottom {
        border-bottom: solid 1px #C4AF64;
    }
    
    .border-right {
        border-right: solid 1px #C4AF64;
    }
    
    .btn-border {
        width: 122px;
        height: 24px;
        border: solid 1px #BFA02E;
        border-radius: 15px;
        color: #BFA02E;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        line-height: 1.1em;
        margin-bottom: 15px;
        background-color: none;
        cursor: pointer;
    }
    
    .btn-border-max {
        width: 178px;
        height: 24px;
        border: solid 1px #BFA02E;
        border-radius: 15px;
        color: #BFA02E;
        font-size: 1em;
        font-weight: 700;
        line-height: 1.5em;
        margin-bottom: 15px;
        background-color: none;
        text-align: center;
        cursor: pointer;
    }
    
    .btn-border:hover,
    .btn-border-max:hover,
    a .btn-border:hover,
    a .btn-border-max:hover {
        background-color: #BFA02E;
        color: white;
        transition: ease-in 0.4s;
    }
    
    .btn-relleno,
    a>.btn-relleno {
        width: 122px;
        height: 24px;
        background-color: #BFA02E;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 1em;
        text-align: center;
        line-height: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
        cursor: pointer;
    }
    
    .btn-relleno:hover,
    a .btn-relleno:hover {
        background-color: white;
        color: #BFA02E;
        border: solid 1px #BFA02E;
        transition: ease-in 0.3s;
    }
    
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
    
    .titulo-seccion {
        font-size: 1.30em;
        font-weight: 300;
        font-style: italic;
        color: #C4AF64;
        width: 100%;
        border-top: solid 3px #C4AF64;
        border-bottom: solid 3px #C4AF64;
        text-align: center;
        margin: 15px auto 0px;
        padding: 7px 0;
        text-transform: uppercase;
    }
    
    .subtitulo-seccion {
        font-style: italic;
        font-size: 1em;
        text-align: center;
        padding-top: 26px;
        text-transform: uppercase;
        margin: 0 auto;
    }
    
    .enunciado-mayor {
        font-size: 1.3em;
        text-align: center;
        font-style: italic;
        color: #C4AF64;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 7px;
    }
    
    .enunciado-menor {
        font-size: 1em;
        text-align: center;
        font-style: italic;
        color: #C4AF64;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 7px;
    }
    
    .fondoGris {
        background-color: rgba(63, 65, 64, 0.1);
    }
    
    .fondoBeige {
        background-color: rgba(196, 175, 100, 0.25);
    }
    
    .modal {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        top: 33%;
        left: 5%;
        width: 90%;
        height: 30%;
        padding-top: 5%;
        background-color: rgba(63, 65, 64, 0.9);
        border-radius: 2%;
        z-index: 100;
    }
    
    .modal h4 {
        margin-top: 10px;
        line-height: 1.5em;
        color: #C4AF64;
    }
    
    .mensaje {
        margin-top: 80px;
        text-align: center;
    }
    
    .centrado {
        margin: 10px auto;
        text-align: center;
    }
    
    .non-display {
        display: none;
    }
    /* ---------------------------------------- */
    /* MEDIA QUERY TABLET */
    
    @media (min-width:426px) {
        .modal {
            width: 40%;
            height: 30%;
            top: 33%;
            left: 30%;
        }
    }
    /* ---------------------------------------- */
    /* MEDIA QUERY PC */
    
    @media (min-width:769px) {
        .modal {
            width: 30%;
            height: 40%;
            top: 35%;
            left: 35%;
        }
    }