<%- include('../partials/head', {title: 'Agregar producto'})%>
    <link rel='stylesheet' href='/stylesheets/register.css'>
    <link rel="stylesheet" href="/stylesheets/footer.css">


    <body class="fondoBeige">

        <%- include('../partials/header-admin')%>

            <main>
                <section class="contenedor">
                    <h1 class="titulo-seccion">AGREGAR PRODUCTO</h1>
                    <h3>Producto Id#</h3>
                    <form class="formLogin" action="javascript:void(0)" method="POST">
                        <div class="labelInput">
                            <label for="categoria">Categoría *</label>
                            <select id="categoria" required>
                        <option value="" disabled selected> Selecciona categoría</option>
                        <option value="tinto">tinto</option>
                        <option value="blanco">blanco</option>
                        <option value="rosado">rosado</option>
                        <option value="brut">brut</option>
                        <option value="extra brut">extra brut</option>
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="linea">Línea *</label>
                            <select id="linea" required>
                        <option value="" disabled selected> Selecciona línea</option>
                        <option value="lineaA">Línea A</option>
                        <option value="lineaB">Línea B</option>
                        <option value="LineaC">Línea C</option>
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="varietal">Varietal *</label>
                            <select id="varietal" required>
                        <option value="" disabled selected> Selecciona varietal</option>
                        <optgroup label="Monovarietal">
                            <option value="bonarda">Bonarda</option>
                            <option value="cabernet">Cabernet Sauvignon</option>
                            <option value="chardonnay">Chardonnay</option>
                            <option value="malbec">Malbec</option>
                            <option value="merlot">Merlot</option>
                            <option value="syrah">Syrah</option>
                            <option value="torrontes">Torrontés</option>
                        </optgroup>
                        <optgroup label="Bivarietal">
                            <option value="bon-mal">Blend: Bonarda - Malbec</option>
                            <option value="cab-mal">Blend: Cabernet - Malbec </option>
                            <option value="char-pin">Blend: Chardonnay - Pinot Noir</option>
                        </optgroup>
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="calidad">Calidad *</label>
                            <select id="calidad" required>
                        <option value="" disabled selected> Selecciona calidad</option>
                        <option value="clasico">Clásico</option>
                        <option value="reserva">Reserva</option>
                        <option value="brut">Brut</option>
                        <option value="extra-brut">Extra Brut</option>              
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="anio">Añada *</label>
                            <select id="anio" required>
                        <option value="" disabled selected> Selecciona añada</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>                 
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="presentacion">Presentación *</label>
                            <select id="presentacion" required>
                        <option value="" disabled selected> Selecciona la presentación</option>
                        <option value="caja-ind">Estuche individual</option>
                        <option value="caja-bot_copa">Estuche botella + copa</option>
                        <option value="caja-2">Caja x 2unid.</option>
                        <option value="caja-3">Caja x 3unid.</option>
                        <option value="caja-6">Caja x 6unid.</option>
                        <option value="caja-12">Caja x 12unid.</option>
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="precio">Precio *</label>
                            <input type="text" name="precio" id="precio" required>
                        </div>
                        <div class="labelInput">
                            <label for="descuento">Descuento *</label>
                            <select id="descuento" required>
                        <option value="0">Sin descuento</option>
                        <option value="5">5%</option>
                        <option value="10">10%</option>
                        <option value="15">15%</option>
                        <option value="20">20%</option>
                        <option value="25">25%</option>
                        <option value="30">30%</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>                 
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="cata">Notas de Cata *</label>
                            <textarea name="cata" id="cata" required></textarea>
                        </div>
                        <div class="labelInput">
                            <label for="maridaje">Maridaje *</label>
                            <textarea name="maridaje" id="maridaje" required></textarea>
                        </div>
                        <div class="labelInput">
                            <label for="temperatura">Temperatura *</label>
                            <select id="temperatura" required>
                    <option value="" disabled selected> Selecciona la temperatura ideal</option>
                    <option value="14">14º</option>
                    <option value="15">15º</option>
                    <option value="16">16º</option>
                    <option value="17">17º</option>
                    <option value="18">18º</option>
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="img-prod">Imagen *</label>
                            <input type="file" name="img-prod" id="img-prod" required>
                        </div>
                        <div class="labelInput">
                            <label for="ficha-tecnica">Ficha Técnica *</label>
                            <input type="file" name="ficha-tecnica" id="ficha-tecnica" required>
                        </div>
                        <div class="labelInput">
                            <button type="submit" id="cargar-prod" class="btn-border">agregar</button>
                            <button type="reset" id="limpiar-form" class="btn-border">limpiar</button>
                        </div>
                    </form>
                </section>
            </main>

            <footer>
            </footer>

    </body>

    </html>