<%- include('partials/head', {title: 'Tienda'})%>
    <link rel="stylesheet" href="/stylesheets/tienda.css">

    <body>
        <%- include('partials/header')%>
            <main>
                <div class="contenedor">
                    <!-- ENCABEZADO SECCION -->
                    <h1 class="titulo-seccion">TIENDA ONLINE</h1>
                    <section class="buscador-filtro-login">
                        <div class="buscador-filtro">
                            <form action="">
                                <input type="search"><i class="fas fa-search"></i>
                            </form>
                            <img src="/img/icon-filter.svg" alt="icono-filtrar">
                        </div>
                        <a href="/loginRegister">login</a>
                    </section>
                </div>

                <!-- SECCION BANNER -->
                <section class="banner">
                    <article class="img-flechas">
                        <img src="/img/img-promos.jpg" alt="promos">
                        <div class="cont-flechas">
                            <div class="flechas">
                                <i class="fas fa-angle-left"></i>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </article>
                    <article class="icon-circulo">
                        <ul>
                            <li><i class="fas fa-circle activo"></i></li>
                            <li><i class="fas fa-circle"></i></li>
                            <li><i class="fas fa-circle"></i></li>
                        </ul>
                    </article>
                </section>

                <!--  MENÚ LÍNEAS -->
                <nav class="lineas">
                    <a href="" class="border-bottom border-right">LÍNEA A</a>
                    <a href="" class="border-bottom border-right">LÍNEA B</a>
                    <a href="">LÍNEA C</a>
                </nav>

                <!-- PRODUCTOS -->
                <h3 class="subtitulo-seccion">PRODUCTOS DESTACADOS</h3>
                <section class="contenedor prod-destacados">
                    <article class="producto border-bottom">
                        <a href="/productDetail">
                            <div class="img-desc">
                                <img src="/img/img-tinto.jpg" alt="vino">
                                <p class="descuento">-20%</p>
                            </div>
                            <div class="prod-items">
                                <h6 class="categoria">TINTO</h6>
                                <p class="descripcion">LÍNEA A Cabernet Reserva 2017. Caja x 6unid.</p>
                                <div class="menosMas">
                                    <i class="fas fa-minus-circle"></i>
                                    <p class="cantidad">1</p>
                                    <i class="fas fa-plus-circle"></i>
                                </div>
                                <div class="precio">
                                    <h5 class="antes">$3.600</h5>
                                    <h5 class="ahora">$2.880-</h5>
                                </div>
                                <button class="btn-relleno">Agregar</button>
                            </div>
                        </a>
                    </article>
                    <article class="producto border-bottom">
                        <a href="/productDetail">
                            <div class="img-desc">
                                <img src="/img/img-tinto.jpg" alt="vino">
                                <p class="descuento">-10%</p>
                            </div>
                            <div class="prod-items">
                                <h6 class="categoria">TINTO</h6>
                                <p class="descripcion">LÍNEA B Malbec 2019. Caja x 6unid.</p>
                                <div class="menosMas">
                                    <i class="fas fa-minus-circle"></i>
                                    <p class="cantidad">1</p>
                                    <i class="fas fa-plus-circle"></i>
                                </div>
                                <div class="precio">
                                    <h5 class="antes">$2.500</h5>
                                    <h5 class="ahora">$2.250-</h5>
                                </div>
                                <button class="btn-relleno">Agregar</button>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href="/productDetail">
                            <div class="img-desc">
                                <img src="/img/img-tinto.jpg" alt="vino">
                                <p class="descuento">-15%</p>
                            </div>
                            <div class="prod-items">
                                <h6 class="categoria">TINTO</h6>
                                <p class="descripcion">LÍNEA C Syrah 2019. Caja x 6unid.</p>
                                <div class="menosMas">
                                    <i class="fas fa-minus-circle"></i>
                                    <p class="cantidad">1</p>
                                    <i class="fas fa-plus-circle"></i>
                                </div>
                                <div class="precio">
                                    <h5 class="antes">$2.300</h5>
                                    <h5 class="ahora">$1.955-</h5>
                                </div>
                                <button class="btn-relleno">Agregar</button>
                            </div>
                        </a>
                    </article>
                </section>
            </main>
            <%- include('partials/footer')%>
    </body>

    </html>