<%- include('partials/head', {title: 'Login'})%>
    <link rel='stylesheet' href='/stylesheets/register.css'>

    <body>
        <%- include('partials/header')%>
            <main>
                <section class="contenedor">
                    <h1 class="titulo-seccion">INICIO DE SESIÓN</h1>
                    <div class="poesia">¿Estás preparada/o para descubrir un mundo <br>de poesía embotellada?</div>
                </section>
                <div class="slider">
                    <img src="/img/slider_register.jpg">
                </div>
                <section class="contenedor">
                    <h3 class="enunciado-mayor">Iniciá tu sesión</h3>
                    <form class="formLogin" enctype="multipart/form-data" action="javascript:void(0)" method="POST">
                        <div class="labelInput"> <label for="Correo electrónico *">Correo electrónico *</label>
                            <input type="email" name="email" id="email" required></div>
                        <div class="labelInput">
                            <label for=" Contraseña *"> Contraseña * <a href="">¿Olvidaste tu contraseña?</a></label>
                            <input type="password" name="password" id="password" required></div>
                        <button type="submit" id="login" class="btn-border-max">accedé</button>
                    </form>
                </section>
            </main>
            <%- include('partials/footer')%>
    </body>

    </html>