<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel='stylesheet' href='/stylesheets/register.css'>

</head>

<body>

    <header>
        <div class="contenedor">
            <div class="logo-menu">
                <div class="logo">
                    <img src="/img/logo_bodega.svg" alt="logo_bodega">
                    <h3>vinos orgánicos</h3>
                </div>

                <!--   BTN MENU MOBILE -->
                <nav class="btn-nav">
                    <a href=""><i class="fas fa-bars"></i></a>
                </nav>
                <!--   MENU TABLET-PC -->
                <nav class="menu-ppal">
                    <ul class="menu">
                        <li id="activo">
                            <a href="">inicio</a>
                        </li>
                        <li>
                            <a href="">bodega</a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        <hr>viñedos</a>
                                </li>
                                <li>
                                    <a href="">
                                        <hr>producción</a>
                                </li>
                                <li>
                                    <a href="">
                                        <hr>certificación orgánica</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">vinos</a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        <hr>línea A</a>
                                </li>
                                <li>
                                    <a href="">
                                        <hr>línea B</a>
                                </li>
                                <li>
                                    <a href="">
                                        <hr>línea C</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">turismo</a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        <hr>Visitas guiadas</a>
                                </li>
                                <li>
                                    <a href="">
                                        <hr>Degustaciones</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="">novedades</a></li>
                        <li><a href="">tienda</a></li>
                        <li><a href="">contacto</a></li>
                    </ul>
                </nav>
            </div>
            <!--  MENU MOBILE POPUP-->
            <nav class="menu-popup">
                <ul class="menu">
                    <li id="activo">
                        <a href="">inicio</a>
                    </li>
                    <li>
                        <a href="">bodega</a>
                        <ul class="submenu">
                            <li>
                                <a href="">
                                    <hr>viñedos</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>producción</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>certificación orgánica</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">vinos</a>
                        <ul class="submenu">
                            <li>
                                <a href="">
                                    <hr>línea A</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>línea B</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>línea C</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Turismo</a>
                        <ul class="submenu">
                            <li>
                                <a href="">
                                    <hr>Visitas guiadas</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>Degustaciones</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">novedades</a></li>
                    <li><a href="">tienda</a></li>
                    <li><a href="">contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <section class="contenedor">
            <h1 class="titulo-seccion">INICIO DE SESIÓN</h1>
            <div class="poesia">¿Estás preparada/o para descubrir un mundo <br>de poesía embotellada?</div>
        </section>
        <div class="slider">
            <img src="/img/slider_register.jpg">
        </div>
        <section class="contenedor">
            <h3 class="enunciado-mayor">Iniciá tu sesión</h3>
            <form class="formLogin" enctype="multipart/form-data" action="javascript:void(0)" method="POST">

                <div class="labelInput"> <label for="Correo electrónico *">Correo electrónico *</label>
                    <input type="email" name="email" id="email"></div>
                <div class="labelInput">

                    <label for=" Contraseña *"> Contraseña * <a href="">¿Olvidaste tu contraseña?</a></label>
                    <input type="password" name="password" id="password"></div>

                <button type="submit" id="login" class="btn-border-max">accedé</button>

            </form>
        </section>

    </main>

    <footer>
        <section class="contenedor info-footer">
            <article class="map-footer">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3338.771766364369!2d-68.94546718480738!3d-33.19385788084808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967dd82f41ea7c63%3A0xa2174586d68047e1!2sRP86%20%26%20Cobos%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1600290893301!5m2!1ses-419!2sar"
                    width="100%" height="108px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </article>
            <article class="atencion">
                <h5>Atención al cliente</h5>
                <ul>
                    <a href="">
                        <li>contacto@bodegaandalhue.com</li>
                    </a>
                    <a href="">
                        <li><i class="fab fa-whatsapp"></i><strong> +54 9 261 3 000000</strong></li>
                    </a>
                </ul>
            </article>
            <article class="divisor border-bottom"></article>
            <article class="legales-redes">
                <div class="legales">
                    <p>BEBER CON MODERACIÓN – PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</p>
                    <p>Todos los derechos reservados</p>
                </div>
                <div class="redes">
                    <p class="seguinos">Seguinos en</p>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </article>
        </section>
    </footer>
</body>

</html>