<%- include('partials/head', {title: 'Detalle de producto'})%>
    <link rel="stylesheet" href="/stylesheets/tienda.css">

    <body>
        <%- include('partials/header')%>
            <main>
                <div class="contenedor">
                    <!-- ENCABEZADO SECCION -->
                    <section class="buscador-filtro-login">
                        <div class="buscador-filtro">
                            <form action="">
                                <input type="search"><i class="fas fa-search"></i>
                            </form>
                            <img src="/img/icon-filter.svg" alt="icono-filtrar">
                        </div>
                        <a href="/loginRegister">login</a>
                    </section>
                    <div class="volver-ruta">
                        <a href="/" class="volver">
                            <i class="fas fa-angle-left"></i> volver
                        </a>
                        <div class="ruta">
                            <ul>
                                <a href="" id="linea">
                                    <li>> LÍNEA A</li>
                                </a>
                                <a href="" id="varietal">
                                    <li>> Cabernet</li>
                                </a>
                                <a href="" id="categoria">
                                    <li>> Reserva</li>
                                </a>
                                <a href="" id="anio">
                                    <li>> 2017</li>
                                </a>
                            </ul>
                        </div>
                    </div>

                    <!-- PRODUCTO -->

                    <section class="detalle-prod">
                        <!-- producto -->
                        <article class="img-desc">
                            <img src="/img/img-tinto.jpg" alt="vino">
                            <p class="descuento">-20%</p>
                        </article>
                        <article class="prod-items">
                            <h6 class="categoria">TINTO</h6>
                            <p class="descripcion">LÍNEA A Cabernet Reserva 2017. Caja x 6unid. Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                            <div class="menosMas">
                                <i class="fas fa-minus-circle"></i>
                                <p class="cantidad">1</p>
                                <i class="fas fa-plus-circle"></i>
                            </div>
                            <div class="precio">
                                <h5 class="antes">$3.600</h5>
                                <h5 class="ahora">$2.880-</h5>
                            </div>
                            <button class="btn-relleno">Agregar</button>
                        </article>
                        <!-- detalle -->
                        <article class="detalle-info">
                            <div class="etiq-detalle_info border-bottom">
                                <ul>
                                    <a href="" class="visible">
                                        <li>Descripción</li>
                                    </a>
                                    <a href="">
                                        <li>Información adicional</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="detalle">
                                <h5>NOTAS DE CATA</h5>
                                <p>Posee un color rojo rubí intenso con tintes azulados, típicos de la variedad. Aparecen notas de frutas rojas y negras como la cereza madura y la grosella; acomplejadas por la vainilla que aporta el roble, también aparecen
                                    especies como el clavo de olor y la pimienta negra.</p>
                                <h5>MARIDAJE</h5>
                                <p>Ideal para acompañar asados de carne roja, pastas y comidas condimentadas.</p>
                                <h5>TEMPERATURA</h5>
                                <p>18ºC</p>
                                <button class="btn-border-max">FICHA TÉCNICA</button>
                            </div>
                            <div class="info-adic">
                                <ul>
                                    <li>
                                        <h5>PESO</h5>
                                        <p>8,85kg</p>
                                    </li>
                                    <li>
                                        <h5>DIMENSIONES</h5>
                                        <p>23.5 × 15.6 × 31.5 cm</p>
                                    </li>
                                    <li>
                                        <h5>ENÓLOGA</h5>
                                        <p>Mariángel Blanco</p>
                                    </li>
                                    <li>
                                        <h5>REGIÓN</h5>
                                        <p>Luján de Cuyo. Mendoza</p>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </section>
                </div>



                <!-- similares -->
                <section class="prod-similares">
                    <div class="contenedor">
                        <h3 class="subtitulo-seccion">PRODUCTOS SIMILARES</h3>
                        <div class="slider-similares">
                            <article class="producto ">
                                <a href="/productDetail">
                                    <div class="img-desc">
                                        <img src="/img/img-tinto.jpg" alt="vino">
                                        <!-- <p class="descuento">-20%</p> -->
                                    </div>
                                    <div class="prod-items">
                                        <h6 class="categoria">TINTO</h6>
                                        <p class="descripcion">LÍNEA A Malbec Reserva 2017. Caja x 6unid.</p>
                                        <div class="menosMas">
                                            <i class="fas fa-minus-circle"></i>
                                            <p class="cantidad">1</p>
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                        <div class="precio">
                                            <!-- <h5 class="antes">$3.600</h5> -->
                                            <h5 class="ahora">$3.600-</h5>
                                        </div>
                                        <button class="btn-relleno">Agregar</button>
                                    </div>
                                </a>
                            </article>
                            <article class="producto prod-2">
                                <a href="/productDetail">
                                    <div class="img-desc">
                                        <img src="/img/img-tinto.jpg" alt="vino">
                                        <!-- <p class="descuento">-20%</p> -->
                                    </div>
                                    <div class="prod-items">
                                        <h6 class="categoria">TINTO</h6>
                                        <p class="descripcion">LÍNEA A Bonarda Reserva 2018. Caja x 6unid.</p>
                                        <div class="menosMas">
                                            <i class="fas fa-minus-circle"></i>
                                            <p class="cantidad">1</p>
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                        <div class="precio">
                                            <!-- <h5 class="antes">$3.600</h5> -->
                                            <h5 class="ahora">$3.350-</h5>
                                        </div>
                                        <button class="btn-relleno">Agregar</button>
                                    </div>
                                </a>
                            </article>
                            <article class="producto prod-3">
                                <a href="/productDetail">
                                    <div class="img-desc">
                                        <img src="/img/img-tinto.jpg" alt="vino">
                                        <p class="descuento">-20%</p>
                                    </div>
                                    <div class="prod-items">
                                        <h6 class="categoria">TINTO</h6>
                                        <p class="descripcion">LÍNEA A Blend Reserva 2016. Caja x 6unid.</p>
                                        <div class="menosMas">
                                            <i class="fas fa-minus-circle"></i>
                                            <p class="cantidad">1</p>
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                        <div class="precio">
                                            <h5 class="antes">$3.600</h5>
                                            <h5 class="ahora">$2.880-</h5>
                                        </div>
                                        <button class="btn-relleno">Agregar</button>
                                    </div>
                                </a>
                            </article>
                            <div class="cont-flechas">
                                <div class="flechas">
                                    <i class="fas fa-angle-left"></i>
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('partials/footer')%>
    </body>

    </html>