<link rel="stylesheet" href="/stylesheets/header.css">
<header>
    <div class="contenedor">
        <div class="logo-menu">
            <div class="logo">
                <a href="/"><img src="/img/logo_bodega.svg" alt="logo_bodega"></a>
                <h3>vinos orgánicos</h3>
            </div>

            <!--   BTN MENU MOBILE -->
            <!--   <nav class="btn-nav">
            <a href=""><i class="fas fa-bars"></i></a>
        </nav> -->
            <!--   MENU TABLET-PC -->
            <!--    <nav class="menu-ppal">
            <ul class="menu">
                <li>
                    <a href="">productos</a>
                    <ul class="submenu">
                        <li>
                            <a href="">
                                <hr>agregar</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>editar</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>lista</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">novedades</a>
                    <ul class="submenu">
                        <li>
                            <a href="">
                                <hr>agregar</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>editar</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>lista</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div> -->
            <!--  MENU MOBILE POPUP-->
            <!--             <nav class="menu-popup">
        <ul class="menu">
            <li>
                <a href="">productos</a>
                <ul class="submenu">
                    <li>
                        <a href="">
                            <hr>agregar</a>
                    </li>
                    <li>
                        <a href="">
                            <hr>editar</a>
                    </li>
                    <li>
                        <a href="">
                            <hr>lista</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">novedades</a>
                <ul class="submenu">
                    <li>
                        <a href="">
                            <hr>agregar</a>
                    </li>
                    <li>
                        <a href="">
                            <hr>editar</a>
                    </li>
                    <li>
                        <a href="">
                            <hr>lista</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav> -->
        </div>
</header>