<link rel="stylesheet" href="/stylesheets/header.css">
<script src="/javascript/menu_front.js"></script>
<header>
    <div class="contenedor">
        <div class="logo-menu">
            <div class="logo">
                <a href="/"><img src="/img/logo_bodega.svg" alt="logo_bodega"></a>
                <h3>vinos orgánicos</h3>
            </div>

            <!--   BTN MENU MOBILE -->
            <nav class="btn-nav">
                <a href="" id="menu-icon"><i class="fas fa-bars"></i></a>
            </nav>
            <!--   MENU TABLET-PC -->
            <nav class="menu-ppal">
                <ul class="menu">
                    <li id="activo">
                        <a href="">inicio</a>
                    </li>
                    <li>
                        <a href="">bodega</a>
                        <ul class="submenu">
                            <li>
                                <a href="">
                                    <hr>viñedos</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>producción</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>certificación orgánica</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">vinos</a>
                        <ul class="submenu">
                            <li>
                                <a href="">
                                    <hr>línea A</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>línea B</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>línea C</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">turismo</a>
                        <ul class="submenu">
                            <li>
                                <a href="">
                                    <hr>Visitas guiadas</a>
                            </li>
                            <li>
                                <a href="">
                                    <hr>Degustaciones</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">novedades</a></li>
                    <li><a href="/">tienda</a></li>
                    <li><a href="">contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--  MENU MOBILE POPUP-->
        <nav class="menu-popup" id="menu-popup">
            <ul class="menu">
                <li id="activo">
                    <a href="">inicio</a>
                </li>
                <li>
                    <a href="">bodega</a>
                    <ul class="submenu">
                        <li>
                            <a href="">
                                <hr>viñedos</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>producción</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>certificación orgánica</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="line-height">vinos</a>
                    <ul class="submenu">
                        <li>
                            <a href="">
                                <hr>línea A</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>línea B</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>línea C</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="line-height">Turismo</a>
                    <ul class="submenu">
                        <li>
                            <a href="">
                                <hr>Visitas guiadas</a>
                        </li>
                        <li>
                            <a href="">
                                <hr>Degustaciones</a>
                        </li>
                    </ul>
                </li>
                <li><a href="" class="line-height">novedades</a></li>
                <li><a href="/" class="line-height">tienda</a></li>
                <li><a href="" class="line-height">contacto</a></li>
            </ul>
        </nav>
    </div>
</header>