<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/slider_front.js"></script>
<link rel='stylesheet' href='/stylesheets/sliders.css'>

<section class="contenedor-slider">
    <div class="slider" id="slider">
        <div class="slide imgLogin_slide1"></div>
        <div class="slide imgLogin_slide2"></div>
        <div class="slide imgLogin_slide3"></div>
        <div class="slide imgLogin_slide4"></div>
    </div>
    <div class="btn-anterior" id="btnAnterior">
        <i class="fas fa-angle-left"></i>
    </div>
    <div class="btn-siguiente" id="btnSiguiente">
        <i class="fas fa-angle-right"></i>
    </div>
</section>