<%- include('../partials/head', {title: 'Registro'})%>
    <link rel='stylesheet' href='/stylesheets/user.css'>
    <script src="/javascript/apiCountries.js"></script>

    <body>
        <%- include('../partials/header-admin')%>
            <main>
                <section class="contenedor">
                    </section>
               
                    <section class="contenedor">
                        <br>
                        <h3 class="enunciado-mayor">Completá tu registro</h3>
                        <% if(typeof errors != "undefined") { %>
                            <div class="errores">
                                <ul>
                                    <% for(var i = 0; i < errors.length; i++) { %>
                                        <li>
                                            <%= errors[i].msg %>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                            <% } %>
                                <form class="formLogin" action="/users/registerAdmin" method="POST">
                                    <div class="labelInput">
                                        <label for="first_name">Nombre *</label>
                                        <input type="text" name="first_name" id="first_name">
                                    </div>
                                    <div class="labelInput">
                                        <label for="last_name">Apellido *</label>
                                        <input type="text" name="last_name" id="last_name">
                                    </div>
                                    <div class="labelInput">
                                        <label for="birthdate">Fecha de Nacimiento *</label>
                                        <input type="date" name="birthdate" id="birthdate">
                                    </div>
                                    <div class="labelInput">
                                        <label for="address">Dirección *</label>
                                        <input type="text" name="address" id="address">
                                    </div>
                                    <div class="labelInput">
                                        <label for="town">Localidad *</label>
                                        <input type="text" name="town" id="town">
                                    </div>
                                    <div class="labelInput">
                                        <label for="country">País *</label>
                                        <select id="country" name="country">
                                            <option value="" disabled selected>Selecciona tu país</option>
                                        </select>
                                    </div>
                                    <div class="non-display">
                                        <input type="text" name="rol" id="rol" value="administrador">
                                    </div>

                                    <div class="labelInput">
                                        <label for="email">Correo electrónico *</label>
                                        <input type="email" name="email" id="email">
                                    </div>
                                    <div class="labelInput">
                                        <label for="password">Contraseña * <a href="">¿Olvidaste tu contraseña?</a></label>
                                        <input type="password" name="password" id="password">
                                    </div>
                                    <div class="check-button">
                                        <div class="recordarme">
                                            <label for="">Recordame</label>
                                            <input type="checkbox" name="recordame">
                                        </div>
                                        <button type="submit" id="registro" class="btn-border-max">registrate</button>
                                    </div>
                                </form>
                    </section>
            </main>
           <footer></footer>
    </body>

    </html>